
$default-font-color: #333;


$default-navigation-block-background: #fff;

$default-separator-color: #E1E1E1;
$default-selected-separator-color: #686663;

$default-micro-icon-color: #333;

$selection-color: #F4F4F4;
$selection-color_hover: #EAEAEA;

$default-input-text-color: $default-font-color;
$default-input-placeholder-color: #27282c;

