
$grid-module: 4px;
$grid-module_2x: $grid-module * 2;
$grid-module_3x: $grid-module * 3;
$grid-module_4x: $grid-module * 4;
$grid-module_5x: $grid-module * 5;
$grid-module_6x: $grid-module * 6;
$grid-module_7x: $grid-module * 7;
$grid-module_8x: $grid-module * 8;
$grid-module_9x: $grid-module * 9;
$grid-module_10x: $grid-module * 10;
