@import "../../styles/vars-and-mixins";

.root {
  padding: $layout-header-height 0 0 $layout-contents-panel-width;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $site-header-z-index;
    }

  .contentsPanel {
    position: fixed;
    top: $layout-header-height;
    left: 0;
    bottom: 0;
    width: $layout-contents-panel-width;
    }

  .mainContent {

    }


