@import "../../../../styles/vars-and-mixins";

.root {

  }

  .item {
    background-color: $default-loading-stub-element-color;
    height: $grid-module_4x;
    margin-bottom: $grid-module_4x;
    animation: loadingOpacity .8s ease-in-out 0s infinite;
    }
    .item:last-child {
      margin-bottom: 0;
      }
    @for $i from 1 to 10 {
      .item[data-left="#{$i}"] {
        margin-left: $grid-module_4x * $i;
        }
      }
    @for $i from 1 to 10 {
      .item[data-right="#{$i}"] {
        margin-right: $grid-module_4x * $i;
        }
      }

  @keyframes loadingOpacity {
    0% {
      opacity: 1;
      }
    50% {
      opacity: .75;
    }
    100% {
      opacity: 1;
      }
    }
