@import "../../../styles/vars-and-mixins";

$level-step: $grid-module_4x;

.item {

  }

.item[data-level="1"] {
  margin-left: $level-step;
  }
.item[data-level="2"] {
  margin-left: $level-step * 2;
  }
.item[data-level="3"] {
  margin-left: $level-step * 3;
  }
.item[data-level="4"] {
  margin-left: $level-step * 4;
  }
.item[data-level="5"] {
  margin-left: $level-step * 5;
  }
.item[data-level="6"] {
  margin-left: $level-step * 6;
  }
.item[data-level="7"] {
  margin-left: $level-step * 7;
  }

.selectedItem {
  background: #f00;
  }

  .main {

    }

  .anchors {
    margin-left: $level-step;
    }

    .anchor {

      }
